<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="{{phim.HinhAnh}}" width="150" height="200" />
    </div>
    <div class="col-md-8">
      <table class="table">
        <tr>
          <th></th>
          <th>Thông tin</th>
        </tr>
        <tr>
          <td>
            Tên phim
          </td>
          <td>{{phim.TenPhim}}</td>
        </tr>
        <tr>
          <td>
            Mô tả
          </td>
          <td>{{phim.MoTa}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <a class="display-4 text-center" href='{{phim.Trailer}}'>Nhấn vô xem TRAILER</a>
</div>