<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of dsPhim" style="padding:15px;"> 
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{item.HinhAnh}}" alt="{{item.TenPhim}}" width="150" height="250">
        <div class="card-body">
          <h5 class="card-title">{{item.TenPhim}}</h5>
          <p class="card-text">{{item.MoTa | shortcut:100}}</p>
          <a href="#" class="btn btn-success" routerLink='/lichchieu' [queryParams]='{MaPhim:item.MaPhim,TenPhim:item.TenPhim}'>Xem lịch chiếu</a>
          <a href="#" class="btn btn-primary" routerLink='/chitietphim' [queryParams]='{MaPhim:item.MaPhim,TenPhim:item.TenPhim}'>Xem chi tiết</a>
        </div>
      </div>
    </div>
  </div>
</div>

